
@media only screen and (min-width: 1201px) {
	// hasta menos de 1201px el menu se despliega a todo el ancho 
	#block-menu-menu-top-menu{
		display: block;
	}
}
@media only screen and (min-width: 993px) {
	/* hace que en todas las paginas excepto en la de inicio, el menu se despliegue
	al lado del logo */ 
	.not-front {
		#block-menu-menu-top-menu {
			display: inline-block;
		}
	}
}

@media only screen and (max-width: 1200px) {
	// hasta un máximo de 1200px el la letra se reduce
	#block-menu-menu-top-menu{
		ul.menu{
			li{
				a{
					font-size: 0.7em!important;
					padding: 10px 3px!important;
				}
			}
		}
	}
}

@media only screen and (max-width: 992px) {
	// hace que aparezca la rayas del menu toggle, pero no la equis...
	.wrapMenuToggle{
		display:block!important;
		.menurayas{
			
		}
	}

	// menu mobil
	// hace que el logo se centre el el ancho de la ventana
	#block-block-1{ 
		width: 100%!important;
		.logo{
			width: 100%!important;
			background-position-x: 50%!important;
			@include background(12%!important);
			background-repeat: no-repeat;
		}
	}
	// esconde el menu
	#block-menu-menu-top-menu{
		display: none;
		width: 100%!important;
	}
	
	// ************  menu ****** -- //
	#block-menu-menu-top-menu{
		display: none;
		
		// hace que el menu se despliegue a todo el ancho
		ul.menu{
			padding: 0!important;
			li{
				display: block!important;
				    background: $morado;
				    border-bottom: dotted 1px white;
				    padding: 9px!important;
				    @include transicion(200ms);
				a{
					font-size: 1em!important;
					color: $blanco!important;
					&:hover{
						color: $tomate!important;
					}
				}
				&:hover, &:focus{
					background: $tomate;
				}
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	// vuelve a hacer grande texto
	#block-menu-menu-top-menu{
		ul.menu{
			li{ 
				display: block!important;
				a{
					font-size: 1em!important;
				}
			}
		}
	} 
}

@media only screen and (max-width: 480px){
	// centra el logo en celular. EN ESTE CASO EL LOGO ESTA EN UN BACKGROUND
	#block-block-1{
		.logo{
			@include background(22%!important);
		}
	}
}

