
// Slide Show - fix

#block-views-slider-principal-block{
	h2{
		display:none;
	}
	.views_slideshow_cycle_teaser_section, .views-slideshow-cycle-main-frame-row{
		width: 100%!important;
		height: inherit!important;
		position: inherit!important;
	}
	.field-content{
		p{
			img{
				width: 100%;
				height: auto;
			}
		}
	}
}
